*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'inter', sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}  
body{
      flex-direction: column;
}   
button{
    cursor: pointer;
}                                              
.text-bar{
    display: flex;
    padding: 1rem;
    gap: 1rem;
    align-items: center;
    color: default;
    font-size: 0.8rem;
}
.text-link{
    color:inherit;
    text-decoration:none ;
}
.text-link :hover{
    text-decoration: underline;
}
.icon-link {
     color: inherit;
     width: 30px;
     border-radius: 100%;
     aspect-ratio: 1/1;
     overflow: hidden;
     display: grid;
     place-items: center;
}
.icon-link:hover{
    background: rgb(235, 235, 235);
}
.head-img{
    border:none;
    background: transparent;
}
.head-img img{
    width: 30px;
    border-radius: 100%;
    aspect-ratio: 1/1;
}
.head-title{
    font-size: 50px;
    padding: 1rem;
}
main{
    flex: 1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}
.input-bar{
    display: flex;
    gap: 1rem;
    align-items: center;
    width: 100%;
    padding: 1rem;
    max-width: 550px;
    border: 1px solid rgb(192, 191, 191);
    border-radius: 1rem; 
}
.input-bar div{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.input-bar input{
    flex: 1;
    border: none;
    outline: none;
}
.input-bar :hover{
    box-shadow:  rgb(192, 191, 191);
}
.icon-class button{
    background: transparent;
    border: none;  
}
.icon-class button:hover{
    opacity: 0.6;
}
.display-grid{
    gap: 1rem;
    padding: 1rem;
}
.display-grid button{
    padding: 0.5rem 0.9rem;
    gap: 5rem;
    background:  rgb(239, 239, 239);
   border: 1px solid transparent;
    border-radius: 0.2rem;
}
.content{
    gap: 1rem;
}
.content:hover{
    border: 1px solid grey;
}
.lang-class{
    font-size: 0.8rem;
    padding: 1rem;
}
.lang-class a{
    text-decoration: none;
    color: blue;
    size: 0.3rem;
    font-size: 0.6;
}
 .anch-class a{
    font-size: 0.5rem;
 }
.lang-class a:hover{
    text-decoration: underline;
}
footer{
    background-color: rgb(245, 245, 245);
}
.head-in{
    padding: 1rem;
    font-size: 0.7rem;
}
.footer-class a{
    text-decoration: none;
    color: inherit;
}
.footer-class a:hover{
    text-decoration: underline;
}
.footer-div{
    display: flex;
    padding: 0.9rem;
    justify-content: space-between;
}
.footer-class{
    justify-content: space-between;
    display: flex;
    font-size: 0.7rem;
}
.footer-class div{
    gap: 1rem;
}
